---
layout: main
---

{% for post in site.posts {{ site.baseurl }}%}

  {% if post.short %}
  <div class="snippet">
    {{ post.content }}
  </div>
  {% else %}
    <div class="story">
    <h2><a href="{{ post.url }}">{{ site.baseurl }}/{{ post.title }}</a></h2>
    {{ post.date | date: "<p class='date'></br>%A, %e %B %Y</p>" }}
    {{ post.content }}
  </div>
  {% endif %}
  <hr>
  
{% endfor %}

<footer>
Created and curated by Will Pearson, Jai Shah, Annabel Young and Emma Mathias-Jones.
</br>
Copyright © 2014 Ramboll Ltd.
</footer>