<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  <head>
    <meta charset="utf-8">
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/stylesheet.css">
    
    <!-- Javascript -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="page">
        <div id="header">
          <h1>{{ site.title }}</h1>
        </div>
    
        <div id="content" class="clear">
          {{ content }}
        </div>
    
      </div> <!-- page -->  
    </div> <!-- container -->
  </body>
  
  <footer>
  <p>Created and curated by Will Pearson, Jai Shah, Annabel Young and Emma Mathias-Jones.</p>

  <p>Copyright © 2014 Ramboll Ltd.</p>
  </footer>

</html>
