<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  <head>
    <meta charset="utf-8">
    
    <!-- CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="/gdp2014/css/stylesheet.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    
    <!-- Javascript -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
  </head>

  <body>
    <div id="container">
      
      <div id="header">
        <h1><a href="/gdp2014">{{ site.title }}</a></h1>
      </div>
    
      {{ content }}
      
    </div> <!-- container -->
  </body>

</html>
